#!/usr/bin/env bash
# k3s agent (worker). Joins with the same token the server was given -- no
# certificate signing request dance, no second Terraform run.
set -euxo pipefail

curl -sfL https://get.k3s.io | \
  INSTALL_K3S_CHANNEL="${k3s_channel}" \
  K3S_URL="https://${server_private_ip}:6443" \
  K3S_TOKEN="${k3s_token}" \
  sh -s - agent \
    --node-external-ip "${node_external_ip}"
